---
name: Consuming Projects

on:
  pull_request:
    types: [labeled, opened, synchronize, reopened]

jobs:
  e2e:
    name: E2E
    timeout-minutes: 30
    runs-on: ubuntu-latest
    if: |
      ( github.event.action == 'labeled' && github.event.label.name == 'e2e-projects' )
      || ( github.event.action != 'labeled' && contains(github.event.pull_request.labels.*.name, 'e2e-projects') )
    strategy:
      fail-fast: false
      matrix:
        project: ['admiral', 'submariner', 'submariner-operator', 'lighthouse']
        deploytool: ['operator', 'helm']
        cabledriver: ['libreswan']
        exclude:
          # Admiral E2E doesn't respect deploy-tool params, as it uses clusters without Submariner
          - project: admiral
            deploytool: helm
          # Operator and Helm are mutually exclusive, don't try to use Helm in Operator repo
          - project: submariner-operator
            deploytool: helm
        include:
          # Test the same set of cable driver combinations as the consuming projects do in their CI
          - project: submariner
            cabledriver: wireguard
            deploytool: operator
    steps:
      - name: Check out the Shipyard repository
        uses: actions/checkout@v2

      - name: Prepare the host
        uses: ./gh-actions/prepare-host
        with:
          cabledriver: ${{ matrix.cabledriver }}

      - name: Build the latest Shipyard image
        run: make images

      - name: Check out the ${{ matrix.project }} repository
        uses: actions/checkout@v2
        with:
          repository: submariner-io/${{ matrix.project }}

      - name: Make sure ${{ matrix.project }} is using the built Shipyard image
        run: sed -i 's/shipyard-dapper-base:*.*/shipyard-dapper-base:dev/' Dockerfile.dapper

      - name: Run E2E deployment and tests
        run: make e2e using="${{ matrix.deploytool }} ${{ matrix.cabledriver }}"

      - name: Post mortem
        if: failure()
        run: |
          df -h
          free -h
          make post-mortem

  lint-consuming:
    name: Lint
    timeout-minutes: 15
    runs-on: ubuntu-latest
    if: |
      ( github.event.action == 'labeled' && github.event.label.name == 'lint-projects' )
      || ( github.event.action != 'labeled' && contains(github.event.pull_request.labels.*.name, 'lint-projects') )
    strategy:
      fail-fast: false
      matrix:
        project: ['admiral', 'submariner', 'submariner-operator', 'lighthouse']
    steps:
      - name: Check out the Shipyard repository
        uses: actions/checkout@v2

      - name: Build the latest Shipyard image
        run: make images

      - name: Check out the ${{ matrix.project }} repository
        uses: actions/checkout@v2
        with:
          repository: submariner-io/${{ matrix.project }}

      - name: Make sure ${{ matrix.project }} is using the built Shipyard image
        run: sed -i 's/shipyard-dapper-base:*.*/shipyard-dapper-base:dev/' Dockerfile.dapper

      - name: Run all linters
        run: make lint
