---
name: Release Images

on:
  push:
    branches:
      - release-0.13
      - release-*

jobs:
  release:
    name: Release Images
    if: github.repository_owner == 'submariner-io'
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
        with:
          submodules: true

      - name: Build and release new images
        uses: ./gh-actions/release-images
        with:
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
