---
name: Release Images

on:
  push:
    branches:
      - master
    tags:
      - 'v**'

jobs:
  e2e:
    name: E2E
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v2

      - name: Reclaim free space
        run: |
          sudo swapoff -a
          sudo rm -f /swapfile

      - name: Run E2E deployment and tests
        run: make e2e
        env:
          IMAGES_ARGS: --nocache

      - name: Post mortem
        if: failure()
        run: make post-mortem

      - name: Clean up E2E deployment
        run: make cleanup

  release:
    name: Release Images
    needs: e2e
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Tagged release detection
        if: contains(github.ref, '/tags/')
        run: |
          tags="${GITHUB_REF##*/}"
          { echo $tags | grep -q -v -; } && tags+=" latest"
          echo "::set-env name=RELEASE_TAGS::--tag \"$tags\""
          echo "::set-env name=UPX_FLAG::--buildargs \"UPX_LEVEL=-9\""

      - name: Build new images
        env:
          IMAGES_ARGS: --nocache ${{ env.UPX_FLAG }}
        run: make images nettest

      - name: Release the images
        env:
          QUAY_USERNAME: ${{ secrets.QUAY_USERNAME }}
          QUAY_PASSWORD: ${{ secrets.QUAY_PASSWORD }}
          RELEASE_ARGS: shipyard-dapper-base nettest ${{ env.RELEASE_TAGS }}
        run: make release
