---
name: Release Images

on:
  push:
    branches:
      - devel
      - release-*

permissions: {}

jobs:
  release:
    name: Release Images
    if: github.repository_owner == 'submariner-io'
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
        with:
          submodules: true

      - name: Build and release new images
        uses: ./gh-actions/release-images
        with:
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
