---
name: Release Images

on:
  push:
    branches:
      - master
      - release-*

jobs:
  e2e:
    name: E2E
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v2

      - name: Reclaim free space
        run: |
          sudo swapoff -a
          sudo rm -f /swapfile

      - name: Run E2E deployment and tests
        run: make e2e
        env:
          IMAGES_ARGS: --nocache

      - name: Post mortem
        if: failure()
        run: make post-mortem

      - name: Clean up E2E deployment
        run: make cleanup

  release:
    name: Release Images
    needs: e2e
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0

      - name: Find the right subctl version
        run: echo "SUBCTL_VERSION=${GITHUB_REF##*/}" >> $GITHUB_ENV

      - name: Build and release new images
        uses: ./gh-actions/release-images
        with:
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
          image_args: --buildargs SUBCTL_VERSION=${{ env.SUBCTL_VERSION }}
