---
on:
  push:
    branches:
      - master
    tags:
      - 'v**'

name: Release Images
jobs:
  e2e:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 0

      - run: make e2e
        env:
          IMAGES_ARGS: --nocache

      - name: Post Mortem
        if: failure()
        run: make post-mortem

      - run: make cleanup

  release:
    needs: e2e
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 0

      - name: Tagged release detection
        if: contains(github.ref, '/tags/')
        run: |
          tags="${GITHUB_REF##*/}"
          { echo $tags | grep -q -v -; } && tags+=" latest"
          echo "::set-env name=RELEASE_TAGS::--tag \"$tags\""
          echo "::set-env name=UPX_FLAG::--buildargs \"UPX_LEVEL=-9\""

      - name: Build new images
        env:
          IMAGES_ARGS: --nocache ${{ env.UPX_FLAG }}
        run: make dapper-image nettest

      - name: Release the images
        env:
          QUAY_USERNAME: ${{ secrets.QUAY_USERNAME }}
          QUAY_PASSWORD: ${{ secrets.QUAY_PASSWORD }}
          RELEASE_ARGS: shipyard-dapper-base nettest ${{ env.RELEASE_TAGS }}
        run: make release
