on:
  push:
    branches:
      - master
    tags:
      - 'v**'

name: Release Images
jobs:
  e2e:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - run: make e2e

      - name: Post Mortem
        if: failure()
        run: make post-mortem

      - run: make cleanup

  release:
    needs: e2e
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 0

      - name: Release the images
        env:
          QUAY_USERNAME: ${{ secrets.QUAY_USERNAME }}
          QUAY_PASSWORD: ${{ secrets.QUAY_PASSWORD }}
          RELEASE_ARGS: shipyard-dapper-base nettest
          IMAGES_ARGS: --nocache
        run: |
          [[ $GITHUB_REF =~ "/tags/" ]] && RELEASE_ARGS+=" --tag \"${GITHUB_REF##*/} latest\""
          make dapper-image nettest release
